---
title: Michael's Periodic Recommendations (December 2019)
layout: post
category: mmr
category_title: December 2019
category_at_end: true
description: "I read, watch, listen to, play, and use a ton of different things, and every so often, I pick out a few of my favorites to recommend."
metaimage: mmr-2019-12.png
---

%p I read, watch, listen to, play, and use a ton of different things, and every so often, I pick out a few of my favorites to recommend.
%hr


%p.mmr-header
  %img.mmr-icon{src: "/images/icons/book.svg"}
  %a.mmr-title{target: "_blank", href: "https://smile.amazon.com/Exhalation-Stories-Ted-Chiang-ebook/dp/B07GD46PQZ?tag=yelriaf-20"}
    Exhalation: Stories
  %span.mmr-creator Ted Chiang
:markdown
  Phenomenal collection of some of the best sci-fi short stories I've ever read.
  (Think "sci-fi" as in _strange inventions_ and _what if the universe worked a little differently?_ rather than _pew pew laser guns_ and _aliens in space ships_.
  It's like Black Mirror, but with a lot less of the dark dystopian stuff.)

  His [previous collection of stories](https://smile.amazon.com/Stories-Your-Life-Others-Chiang-ebook/dp/B0048EKOP0?tag=yelriaf-20) is also worth a read.


%p.mmr-header
  %img.mmr-icon{src: "/images/icons/game.svg"}
  %a.mmr-title{target: "_blank", href: "http://outerwilds.com/"}
    Outer Wilds
  (Windows/PS4/Xbone)
  %span.mmr-creator Mobius Digital
%p.small (Not to be confused with <a href="https://outerworlds.obsidian.net/">Outer Worlds</a>, another recent game with an unfortunately similar name and a much bigger marketing budget.)
%blockquote
  %p Outer Wilds is an open world mystery about a solar system trapped in an endless time loop.
%p This is very solidly my favorite game of 2019.


%p.mmr-header
  %img.mmr-icon{src: "/images/icons/book.svg"}
  %a.mmr-title{target: "_blank", href: "https://smile.amazon.com/Thing-Explainer-Complicated-Stuff-Simple/dp/0544668251?tag=yelriaf-20"}
    Thing Explainer
  %span.mmr-creator Randall Munroe (the <a href="https://xkcd.com/">xkcd</a> guy)
:markdown
  Using only the 1,000 most common English words (plus lots of drawings), Randall explains a bunch of complicated things (mostly machines and scientific concepts), like _boxes that make clothes smell better_, _picture takers_, and _tiny bags of water you're made of_.
  The writing is simultaneously educational, hilarious, and awe-inspiring.

%p.mmr-header
  %img.mmr-icon{src: "/images/icons/podcast.svg"}
  %a.mmr-title{target: "_blank", href: "https://www.stitcher.com/podcast/pushkin-industries/cautionary-tales/e/65456307"}
    La La Land: Galileo's Warning
  %span.mmr-creator Cautionary Tales - Tim Harford
%blockquote
  %p Galileo tried to teach us that adding more and more layers to a system intended to avert disaster often makes catastrophe all the more likely to happen. His basic lesson has been ignored in nuclear power plants, financial markets and at the Oscars... all resulting in chaos.


%p.mmr-header
  %img.mmr-icon{src: "/images/icons/book.svg"}
  %a.mmr-title{target: "_blank", href: "https://smile.amazon.com/Art-Gathering-How-Meet-Matters-ebook/dp/B07637KVXL?tag=yelriaf-20"}
    The Art of Gathering
  %span.mmr-creator Priya Parker
%p
  Insightful book about how to bring people together in ways that foster meaningful experiences and authentic connection.
  If you regularly run meetings at work, host dinner parties, or organize any other sort of gathering, this book will help you make the most of that time spent together.


%p.mmr-header
  %img.mmr-icon{src: "/images/icons/fire.svg"}
  %a.mmr-title{target: "_blank", href: "https://smile.amazon.com/Human-Creations-EnergyFlux-Rechargeable-Warmer/dp/B07GV87ZLD?tag=yelriaf-20"}
    A rechargeable hand warmer
%p
  I got one of these last winter and it has been an incredibly convenient way to keep my hands warm when I'm outside in cold weather.
  It charges over USB, turns on/off with a simple switch, and stays hot for a few hours.
  (It also has a USB port that other devices can charge from, letting it double as a portable power bank.)







%link(href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css")
:css
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
#mc_embed_signup
  %form(action="https://michaelfairley.us18.list-manage.com/subscribe/post?u=c59023e4dfd2eb6b5bbf924b5&amp;id=2945a9984d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
    #mc_embed_signup_scroll
      %label(for="mce-EMAIL")Sign up to get Michael's Periodic Recommendations, periodically!
      %input(type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required)
      -# <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      %div(style="position: absolute; left: -5000px;" aria-hidden="true")
        %input(type="text" name="b_c59023e4dfd2eb6b5bbf924b5_2945a9984d" tabindex="-1" value="")
      %div(class="clear")
        %input(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button")

%span{style: "font-size: 10px;"}
  Icons by
  %a{href: "https://thenounproject.com/SimpleIcons/"} Icon Solid
  and
  %a{href: "https://thenounproject.com/coquet_adrien/"} Adrien Coquet
