<!DOCTYPE HTML>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Gentium+Basic:400,400i,700,700i|Roboto" rel="stylesheet">
<meta charset="utf-8">
<meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
<title>{{ page.title }}</title>
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-87169-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
{{ content }}
</body>
</html>
